*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}
