.home {
  margin: 0 auto;
  width: fit-content;

  h1 {
    text-align: center;
  }

  svg {
    max-width: 32px;
    max-height: 32px;
  }
}

.calendar {
  text-align: left;
  a {
    width: 48px;
    min-width: 48px;
    display: inline-block;
    text-align: center;
  }
}
